<%- include('../layouts/userlayout/header.ejs') %>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>




    <div class="container">
      <div class="row">
        <div class="col-md-12 ftco-animate ">
          <div class="cart-list text-center"> <!-- Added text-center class to center the content -->
            <table class="table">
              <thead>
                <tr>
                  <td class="image ">
                    <img src="/userAsset/emptyCart.png" class="cart-image" alt="Empty Cart" width="250px" height="250px">
                    <h3>Your Cart is Empty</h3>
                    <a href="/shop" class="btn btn-primary">GO TO SHOP</a> 
                  </td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
   
			<!-- <div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						   
						      <tr>
                              <td class="image"><img src="/userAsset/emptyCart.png" width="250px" height="250px">
                              <h3>Your Cart is Empty</h3><a href="/shop" class="text-primary" >GO TO SHOP</a></td>
						    </thead>
						    </table>
					  </div>
    			</div>
    		</div>
    		
    		</div> -->
			
	
		

		<%- include('../layouts/userlayout/footer.ejs') %>
