<!DOCTYPE html>
<html lang="en">

<head>
  <title>SHOENIVERSE</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" />

  <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="css/animate.css" />

  <link rel="stylesheet" href="css/owl.carousel.min.css" />
  <link rel="stylesheet" href="css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />

  <link rel="stylesheet" href="css/aos.css" />

  <link rel="stylesheet" href="css/ionicons.min.css" />

  <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
  <link rel="stylesheet" href="css/jquery.timepicker.css" />

  <link rel="stylesheet" href="css/flaticon.css" />
  <link rel="stylesheet" href="css/icomoon.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body class="goto-here">
  <div class="py-1 bg-black">
    <div class="container">
      <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
        <div class="col-lg-12 d-block">
          <div class="row d-flex">
            <div class="col-md pr-4 d-flex topper align-items-center">
              <div class="icon mr-2 d-flex justify-content-center align-items-center">
                <span class="icon-phone2"></span>
              </div>
              <span class="text">+91 9895420000</span>
            </div>
            <div class="col-md pr-4 d-flex topper align-items-center">
              <div class="icon mr-2 d-flex justify-content-center align-items-center">
                <span class="icon-paper-plane"></span>
              </div>
              <span class="text">shoeniverse@gmail.com</span>
            </div>
            <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
              <span class="text">3-5 Business days delivery &amp; Free Returns</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-white ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <img src="/adminAsset/assets/imgs/theme/logo.png " class="logo" width="10%" height="25%" alt="Shoeniverse" />

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link"><b>Home</b></a>
          </li>

          <li class="nav-item">
            <a href="/shop" class="nav-link"><b>SHOP</b></a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link"><b>About</b></a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link"><b>Contact</b></a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><b>MY ACCOUNT</b></a>
            <div class="dropdown-menu" aria-labelledby="dropdown04"></div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">

          <li class="nav-item cta cta-colored">
            <a href="/cart" class="nav-link"><span class="icon-shopping_cart" style="font-size: 18.5px"></span></a>
          </li>
          <li class="nav-item cta cta-colored">
            <a href="/wishlist" class="nav-link"><span class="icon-heart" style="font-size: 18.5px"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

  <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg')">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs">
            <span class="mr-2"><a href="/">Home</a></span> <span>Login</span>
          </p>
          <h1 class="mb-0 bread">Login</h1>
        </div>
      </div>
    </div>
  </div>

  <br /><br />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 border border-dark bg-white">
        <br />

        <form action="/login" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control rounded-0" id="email" name="email" placeholder="Enter email"
              required />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control rounded-0" id="password" name="password"
              placeholder="Enter password" required />
          </div>
          <p class="mt-3 text-black-50 text-right">
            <a href="/forgotPassword" class="text-dark"><b>Forget Password!</b></a>
            <% if (typeof message !=='undefined' ) { %>
              <p class="text-center text-danger bg-light "><b>
                  <%= message %>
                </b></p>
                <% }else if(typeof messageS!=='undefined'){%>
                  <p class="text-center text-success bg-light"><b>
                      <%= messageS %>
                    </b></p>

                <% } %>
                <div class="button text-center">
                  <button type="submit" class="btn btn-dark rounded-0">
                    Login
                  </button>
                </div>
                <p class="mt-3 text-black-50">
                  Don't have an account?!
                  <a href="/signup" class="text-dark"><b>Click here</b></a>
                </p>
        </form>
      </div>
    </div>
  </div>

  <%- include('../layouts/userlayout/footer.ejs') %>
</body>

</html>