<%- include('../layouts/userlayout/header.ejs') %>

<!-- Add your custom CSS styles here -->
<style>
  /* Add your custom styles for the Order Success page here */
</style>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="text-center mb-5">
          <br />
          <h1 class="mt-0">Congratulations !</h1>
          <h3 class="mt-2">Your order has been completed successfully.</h3>
        </div>
        <div class="card">
          <div class="card-body">
            <!-- Display any additional information related to the order here -->

            <p class="text-center">
              Thank you for shopping with us! Order Confirmation has been Sent
              to your registered Gmail .
            </p>
            <div class="text-center mt-4">
              <a href="/shop" class="btn btn-primary">Back to Shop</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/userlayout/footer.ejs') %>
