<!-- 404.ejs -->

<%- include('../layouts/userlayout/header.ejs') %>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="text-center mb-5">
          <!-- Add an image or icon to represent the 404 error -->
          <h2 class="mt-3">404 - Page Not Found</h2>
          <p class="text-muted">Oops! The page you are looking for does not exist.</p>
        </div>
        <!-- Add a button or link to redirect users back to the homepage or any other relevant page -->
        <div class="text-center mt-4">
          <a href="/" class="btn btn-primary">Back to Homepage</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../layouts/userlayout/footer.ejs') %>
